extends layout

block script
  script(src='/react/react.js')
  script(src='/react/JSXTransformer.js')
  script(src='/jquery/dist/jquery.js')
block content
  #content
  script(src='/javascripts/app.jsx' type='text/jsx')
